<div id="<%= dom_id(goal, :goal_card) %>" class="goal-card <%= "goal-card--completed" if goal.completed? %>">
  <div class="goal-card__header">
    <%= link_to goal.title, goal_path(goal), class: "goal-card__title" %>
    <%= task_column_badge(goal) %>
  </div>

  <% if goal.description.present? %>
    <p class="goal-card__description"><%= truncate(goal.description, length: 100) %></p>
  <% end %>

  <div class="goal-card__progress">
    <%= render "shared/progress_bar", percentage: goal.completion_percentage %>
  </div>

  <div class="goal-card__meta">
    <% completed_count = goal.subtasks.select(&:completed?).size %>
    <% total_count = goal.subtasks.size %>
    <% if total_count > 0 %>
      <span class="goal-card__subtasks"><%= completed_count %> of <%= total_count %> subtasks done</span>
    <% end %>
  </div>
</div>
