<div class="message <%= "message--reply" if message.parent_id.present? %>" id="message_<%= message.id %>">
  <div class="message__header">
    <span class="message__author">
      <% case message.author
         when Column %>
        <%= message.author.name %>
        <span class="message__author-type">Column</span>
      <% when User %>
        <%= message.author.email_address %>
      <% else %>
        <%= message.author.try(:email_address) || message.author_type %>
      <% end %>
    </span>
    <% if message.question? %>
      <span class="message__type-badge message__type-badge--question">Question</span>
    <% elsif message.answer? %>
      <span class="message__type-badge message__type-badge--answer">Answer</span>
    <% end %>
    <time class="message__timestamp" datetime="<%= message.created_at.iso8601 %>">
      <%= time_ago_in_words(message.created_at) %> ago
    </time>
  </div>

  <div class="message__body"><%= markdown_with_mentions(message.body) %></div>

  <div class="message__actions" data-controller="reply">
    <button class="btn btn--ghost btn--sm" data-action="reply#toggle">Reply</button>
    <div class="message-reply-form message-reply-form--hidden" data-reply-target="form">
      <%= render "messages/form", task: task, parent_id: message.id %>
    </div>
  </div>
</div>
