<div class="auth-card glass">
  <h1>Sign in to Master of Puppets</h1>

  <%= form_with url: session_path do |form| %>
    <div class="field">
      <%= form.label :email_address, "Email address" %>
      <%= form.email_field :email_address, required: true, autofocus: true,
            autocomplete: "username", placeholder: "you@example.com",
            value: params[:email_address] %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true,
            autocomplete: "current-password", placeholder: "Your password",
            maxlength: 72 %>
    </div>

    <div class="field">
      <%= form.submit "Sign in", class: "btn btn--primary btn--full" %>
    </div>
  <% end %>

  <p class="auth-footer">
    <%= link_to "Forgot password?", new_password_path %>
  </p>

  <p class="auth-footer">
    Don't have an account?
    <%= link_to "Sign up", new_registration_path %>
  </p>
</div>
