<% content_for(:title, "Board") %>

<section class="tasks-board"
         data-controller="kanban"
         data-kanban-update-url-value="<%= bulk_update_path %>"
         data-controller-target="board">

  <header class="tasks-board__header">
    <h1>Board</h1>
    <%= link_to "New Task", new_task_path, class: "btn btn--primary btn--sm" %>
  </header>

  <%= render "filters" %>
  <%= render "bulk_toolbar" %>

  <% if @tasks_by_column.values.any?(&:any?) || request.query_parameters.any? %>
    <%= turbo_stream_from "project_#{Current.project.id}_board" %>
    <div class="kanban">
      <% @columns.each do |column| %>
        <%= render "column",
              column: column,
              tasks: @tasks_by_column[column] || [],
              count: @counts_by_column[column.id] || 0,
              limit: @kanban_column_limit %>
      <% end %>
    </div>
  <% else %>
    <div class="tasks-page__empty">
      <p>No tasks yet. Create your first task to get started.</p>
      <%= link_to "Create a task", new_task_path, class: "btn btn--primary" %>
    </div>
  <% end %>
</section>
