<li class="timeline__entry timeline__entry--audit" id="<%= dom_id(audit_event) %>">
  <div class="timeline__header">
    <%= audit_action_badge(audit_event.action) %>
    <span class="timeline__actor"><%= audit_actor_display(audit_event) %></span>
    <time class="timeline__timestamp" datetime="<%= audit_event.created_at.iso8601 %>">
      <%= time_ago_in_words(audit_event.created_at) %> ago
    </time>
  </div>
  <% if audit_event.metadata.present? %>
    <p class="timeline__metadata"><%= audit_metadata_display(audit_event.metadata) %></p>
  <% end %>
</li>
