<nav class="docs-sidebar__nav" aria-label="Documentation navigation">
  <div class="docs-sidebar__group">
    <span class="docs-sidebar__heading">Get Started</span>
    <ul class="docs-sidebar__list">
      <li><%= link_to "Introduction", docs_path, class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(docs_path))}" %></li>
      <li><%= link_to "Quick Start", docs_page_path(path: "quick-start"), class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(docs_page_path(path: 'quick-start')))}" %></li>
      <li><%= link_to "Installation", docs_page_path(path: "installation"), class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(docs_page_path(path: 'installation')))}" %></li>
    </ul>
  </div>

  <div class="docs-sidebar__group">
    <span class="docs-sidebar__heading">Core Concepts</span>
    <ul class="docs-sidebar__list">
      <li><%= link_to "Projects", documentation_projects_path, class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(documentation_projects_path))}" %></li>
      <li><%= link_to "Adapters", documentation_adapters_path, class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(documentation_adapters_path))}" %></li>
      <li><%= link_to "Tasks & Missions", documentation_tasks_path, class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(documentation_tasks_path))}" %></li>
      <li><%= link_to "Skills", documentation_skills_path, class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(documentation_skills_path))}" %></li>
      <li><%= link_to "Documents", docs_page_path(path: "documents"), class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(docs_page_path(path: 'documents')))}" %></li>
    </ul>
  </div>

  <div class="docs-sidebar__group">
    <span class="docs-sidebar__heading">Guides</span>
    <ul class="docs-sidebar__list">
      <li><%= link_to "Your First Column", docs_page_path(path: "first-agent"), class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(docs_page_path(path: 'first-agent')))}" %></li>
      <li><%= link_to "Budgets & Governance", docs_page_path(path: "budgets"), class: "docs-sidebar__link #{('docs-sidebar__link--active' if current_page?(docs_page_path(path: 'budgets')))}" %></li>
    </ul>
  </div>
</nav>
