<h1>You're invited!</h1>
<p><%= @inviter.email_address %> has invited you to join <strong><%= @project.name %></strong> on Master of Puppets as a <%= @invitation.role %>.</p>
<p><%= link_to "Accept Invitation", @accept_url %></p>
<p>This invitation expires on <%= @invitation.expires_at.strftime("%B %d, %Y") %>.</p>
<p>If you didn't expect this invitation, you can safely ignore this email.</p>
