<% content_for(:title, "Goals") %>

<section class="goals-page">
  <div class="goals-page__header">
    <h1>Goals</h1>
    <% if Current.project.roles.exists? %>
      <%= link_to "New Goal", new_goal_path,
            class: "btn btn--primary btn--sm",
            data: { turbo_frame: "goal_form_modal" } %>
    <% end %>
  </div>

  <% if @root_tasks.any? %>
    <div class="goal-list">
      <% @root_tasks.each do |root_task| %>
        <% percentage = root_task.completion_percentage %>
        <div class="goal-list__item">
          <div class="goal-list__info">
            <%= link_to root_task.title, goal_path(root_task), class: "goal-list__title" %>
            <div class="goal-list__progress-inline">
              <span class="goal-list__percentage"><%= percentage %>%</span>
              <div class="goal-list__bar">
                <%= render "shared/progress_bar", percentage: percentage %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="goals-page__empty">
      <p>No goals yet. Create your first goal to get started.</p>
      <%= link_to "Create goal", new_goal_path, class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "goal_form_modal" %>
</section>
